.drh-top-bar {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  padding: 0 0 0 50px;
  color: #fff;
  font-size: 12px;
  .logo {
    padding: 8px 0 0 0;
  }
  .options {
    position: absolute;
    right: 50px;
    top: 0;
    height: 40px;
      overflow: hidden;
    .user-item {
      // cursor: pointer;
      display: inline-block;
      padding: 10px 0 0 30px;
      margin-left: 15px;
      img {
        position: absolute;
        margin: 0px 0 0 -30px;
      }
    }
    .logout-item {
      display: inline-block;
      margin-left: 15px;
      margin-top: -16px;
    }
  }
}