# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# aws-exports
aws-exports.json

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
