.vscode
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# aws-exports
aws-exports.json

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
global-s3-assets
regional-s3-assets

# Parcel build directories
.cache
.build

Config

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.venv*
__pycache__/
**__snapshots__/