.general-content {
  padding: 0 40px 100px 40px;
  .top-title-button {
    display: flex;
    .top-title {
      width: 50%;
      font-size: 24px;
      color: #000000;
      padding: 5px 0 35px 5px;
      span {
        color: #0073bb;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        margin-left: 5px;
      }
    }
    .buttons {
      flex: 1;
      text-align: right;
      button {
        margin-left: 15px;
      }
    }
  } 
  
  .general-info {
    font-size: 14px;
    &.tab-padding {
      margin-top: 15px;
    }
    &.box-shadow {
      background-color: #ffffff;
      box-shadow: 0px 2px 2px #ccc;
    }
    .title {
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      background-color: #fafafa;
      border-bottom: 1px solid #eaeded;
      padding: 15px 0 15px 20px;
    }
    .status {
      color: #687078;
    }
    .progress-bar {
      display: flex;
      .bar {
        padding: 5px 0 0 0;
        flex:1;
      }
      .number {
        color: #687078;
        width: 40px;
        text-align: right;
      }
    }
    &-content {
      display: flex;
      padding: 25px 0;
      .split-item {
        flex: 1;
        padding: 3px 20px;
        border-left: 1px solid #eaeded;
        color: #000;
        .sub-name {
          color: #545b64;
          padding: 2px 0;
        }
        .image-list {
          width: 100%;
          border: 1px solid #aaa;
          background: #fff;
          padding: 8px;
        }
        .open-icon {
          position: absolute;
          margin: 0px 0 0 3px;
        }
      }
    }
  }
  .tab-content {
    margin: 40px 0 0 0;
  }
}
